.container {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid rgb(59, 59, 59);
}
.card {
  height: 305px;
  width: 300px;
  background: #332a2a;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: rgb(175, 21, 21);
  box-shadow: 0 70px 63px -60px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("https://www.malditorecords.net/UserFiles/discos/ADM%20SR%20PORTADA%20-%20web.jpg") center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url("https://raw.githubusercontent.com/comunista24/comunista24.github.io/main/Im%C3%A1genes/disco1.jpg") left center no-repeat;
  background-size: 600px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url("https://www.malditorecords.net/UserFiles/discos/ADM%20VIVE%20LA%20VIDA%20SINGLE%20-%20web.jpg") center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url("https://raw.githubusercontent.com/comunista24/comunista24.github.io/main/Im%C3%A1genes/disco2.jpg") left center no-repeat;
  background-size: 600px;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}
.card2 {
  background: url("https://www.malditorecords.net/UserFiles/discos/ADM%20VOLARE%20SINGLE%20-%20web.jpg") center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url("https://raw.githubusercontent.com/comunista24/comunista24.github.io/main/Im%C3%A1genes/disco3.jpg") left center no-repeat;
  background-size: 600px;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  margin: 45px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.texto-borde {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}